*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.margin{
    margin: 0 auto;
}
.mt-30{
    margin-top: 30px;
}
.left{
    margin-left: 30px;
}
.grid{
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows: auto  auto;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.j-between{
    justify-content: space-between;
}
.a-center{
    align-items: center;
}
.gap{
    gap: 15px;
}
.img{
    width: 100%;
    height: 600px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    font-size: 18px;
}
.text{
    /* background-color: aqua; */
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
}
.btn{
    height: 30px;
    width: 130px;
    background-color: #C4C4C4;
}
.box{
    height: 280px;
    width: 350px;
    background-color: #C4C4C4;
}
.section3{
    height: 450px;
    /* background-color: red; */
    display: grid;
    grid-template-areas: 
    "item1 item2 item2 item2 item2"
    "item1 item3 item4 item5 item5"
    ;
}
.item{
    background-color: #C4C4C4;
  
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.dog{
    background-color: black;
    height: 180px;
    width: 400px;
}
.cat{
    background-color: #C4C4C4;
    height: 60px;
    width: 400px;
    padding: 10px 150px;
}


@media screen and (max-width: 1240px) {
    .container{
        width: 1040px;
    }
}
@media screen and (max-width: 1040px) {
    .container{
        width: 900px;
    }
}
@media screen and (max-width: 900px) {
    .container{
        width: 720px;
    }
    .section2{
        display: flex;
        flex-wrap: wrap;
    }
    .section3{

    }
    .item{
        
    }
}
@media screen and (max-width: 720px) {
    .container{
        width: 480px;
    }
    .clm-reverse{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 480px) {
    .container{
        width: 320px;
    }
}

